@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300&family=Sixtyfour&display=swap");

@font-face {
  font-family: "Single Case";
  src: url("/assets/fonts/Single-Case/Single-Case.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: url("/assets/fonts/Futura-pt/FuturaCyrillicLight.woff2") format("woff2"),
    url("/assets/fonts/Futura-pt/FuturaCyrillicLight.woff") format("woff");
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: url("/assets/fonts/Futura-pt/FuturaCyrillicBook.woff2") format("woff2"),
    url("/assets/fonts/Futura-pt/FuturaCyrillicBook.woff") format("woff");
  font-weight: 400; /* Regular (Book) */
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: url("/assets/fonts/Futura-pt/FuturaCyrillicMedium.woff2") format("woff2"),
    url("/assets/fonts/Futura-pt/FuturaCyrillicMedium.woff") format("woff");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: url("/assets/fonts/Futura-pt/FuturaCyrillicDemi.woff2") format("woff2"),
    url("/assets/fonts/Futura-pt/FuturaCyrillicDemi.woff") format("woff");
  font-weight: 600; /* DemiBold */
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: url("/assets/fonts/Futura-pt/FuturaCyrillicBold.woff2") format("woff2"),
    url("/assets/fonts/Futura-pt/FuturaCyrillicBold.woff") format("woff");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: url("/assets/fonts/Futura-pt/FuturaCyrillicExtraBold.woff2")
      format("woff2"),
    url("/assets/fonts/Futura-pt/FuturaCyrillicExtraBold.woff") format("woff");
  font-weight: 800; /* ExtraBold */
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: url("/assets/fonts/Futura-pt/FuturaCyrillicHeavy.woff2") format("woff2"),
    url("/assets/fonts/Futura-pt/FuturaCyrillicHeavy.woff") format("woff");
  font-weight: 900; /* Heavy */
  font-style: normal;
}

html {
  font-size: 16px; /* 1rem = 16px par défaut */
}

* {
  font-family: "Poppins", serif;
}

body {
  font-family: "Poppins", Arial, sans-serif; /* Ajout d'Arial et sans-serif comme fallback */
  line-height: 1.8;
  color: #333;
}

/* Headings */
h1 {
  font-family: "Futura PT", Arial, sans-serif;
  font-weight: 700;
  font-size: 3rem; /* 48px */
  line-height: 1.2;
  letter-spacing: -0.03125rem; /* -0.5px */
}

h2 {
  font-family: "Futura PT", Arial, sans-serif;
  font-weight: 600;
  font-size: 2.25rem; /* 36px */
  line-height: 1.3;
  letter-spacing: -0.015625rem; /* -0.25px */
}

h3 {
  font-family: "Single Case", "Poppins", "Helvetica Neue", Helvetica, sans-serif; /* Helvetica Neue et Helvetica en fallback */
  font-weight: 500;
  font-size: 1.75rem; /* 28px */
  line-height: 1.4;
  letter-spacing: 0; /* Pas de modification */
}

h4 {
  font-family: "Poppins", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.5rem; /* 24px */
  line-height: 1.5;
  letter-spacing: 0.015625rem; /* 0.25px */
}

h5 {
  font-family: "Futura PT", Arial, sans-serif;
  font-weight: 500;
  font-size: 1.25rem; /* 20px */
  line-height: 1.6;
  letter-spacing: 0; /* Pas de modification */
}

h6 {
  font-family: "Poppins", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem; /* 16px */
  line-height: 1.6;
  letter-spacing: 0.03125rem; /* 0.5px */
}

/* Paragraph */
p {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem; /* 16px */
  line-height: 1.8;
  letter-spacing: 0; /* Pas de modification */
}
